body {
    background-color:#DEB6AB;
}
@keyframes hareketli {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(600px);
    }
    50% {
        transform: translateX(1100px);
    }
    75% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(0px);
    }
}
.on-kutu {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #A78295;
    animation: hareketli 10s ease infinite;
    position: absolute;
    margin: auto;
} 
@keyframes change-language {
    0% { content: 'Merhaba! ben'; }
    33.33% { content: 'Hello! I am'; }
    66.66% { content: 'Hallo! ich bin'; }
    100% { content: 'Bonjour! je suis'; }
}
.yazi-animasyonu {
    display: inline-block;
    position: relative;
}
.yazi-animasyonu .yazi::after {
    content: 'Merhaba!';
    animation-name: change-language;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
p.a{
    height: 100px;
}
.resim{
    width: 300px;
    height: 170px;
    border:5px solid #331D2C;
    border-radius: 20px;
    float: left;
    box-shadow: 5px 10px 10px #331D2C;
    overflow: hidden;
}
.resim img{
    max-width: 100%;
  max-height: 100%;
  display: block;
}
.about-me-tr{
    width: 300px;
    height: 170px;
    border: 5px solid #864879;
    border-radius: 20px;
    float: left;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px #331D2C;
    color: #85586F;
}
.about-me-eng{
    width: 300px;
    height: 170px;
    border: 5px solid #864879;
    border-radius: 20px;
    float: right;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px #331D2C;
    color: #85586F;
}
.about-me-deu{ 
    width: 300px;
    height: 170px;
    border:5px solid #864879; 
    border-radius: 10px;
    float: right;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 10px #331D2C;
    color: #85586F;
}
.uzun-ince-cizgi {
    border: none;
    border-top: 5px solid #99627A;
    border-radius: 30px;
    margin: 30px 0;
}
#uzun-ince-cizgi{
    border: none;
    border-top: 5px dotted #99627A;
    border-radius: 30px;
    margin: 10px;
} 
.ozgecmis {
    width:1300px;
    height: 200px;
    border: 5px solid #99627A;
    border-radius: 10px;
    margin-top: 200px;
    color: #331D2C;
    font-style: oblique;
    box-shadow: 5px 5px 10px #99627A;
}
.bosluk{
    display: inline-block;
    width: 10px;
}
.iletisim-kutusu{
    width: 1300px;
    height: 100px;
    border: 10px none #A78295;
    border-radius: 10px;
    background-color:#A78295;
    text-align: center;
    color: #331D2C;
    box-shadow: 5px 5px 10px #A78295;
}
@keyframes change-contact {
    0% { content: 'benimle iletişime geç!'; }
    33.33% { content: 'contact me!'; }
    66.66% { content: 'kontaktiere mich!'; }
    100% { content: 'Contactez moi!'; }
}
.iletisim-animasyonu {
    display: inline-block;
    position: relative;
}
.iletisim-animasyonu .iletisim-yazi::after {
    content: 'benimle iletişime geç!!';
    animation-name: change-contact;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}